body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

#tree-table {
    /* border-collapse: collapse;  */
    width: 100%;
}

#tree-table td {
    padding: 8px; /* Adjust the padding value as needed */
    text-align: center; /* Center-align the content in cells */
    border: 1px solid black;
}
